.footer {
  background-color: #222;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #444; /* Add border at the top */
  position: fixed;
  bottom: 0;
  left: 0; /* Align to the left edge of the screen */
  right: 0; /* Align to the right edge of the screen */
}

.footer nav {
  display: flex;
}

.footer .icons {
  display: flex;
}
/* @keyframes pulse {
    0% {
      color: #fff;
    }
    50% {
      color: #c03a3a;
    }
    100% {
      color: #fff;
    }
  } */

.footer-link {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  transition: transform 0.3s ease;
  padding: 10px;
}

.footer-link:hover {
  transform: scale(1.5); /* Apply zoom effect on hover */
}

.icons a {
  color: #fff;
  margin-left: 20px;
  transition: color 0.3s ease; /* Add transition effect for color */
}

.icons a:hover {
  color: #fffafa; /* Change icon color on hover */
}

.icons .icon {
  font-size: 24px;
}
